.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  &__title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
  }

  &__form {
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;

    &__item {
      display: flex;
      flex-direction: column;
      margin: 20px 0;

      &__label {
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
      }

      &__input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        margin-top: 5px;
        transition: border-color 0.3s ease;

        &:focus {
          border-color: #007bff;
          outline: none;
          background-color: #fff;
        }
      }

      &__button {
        margin-top: 20px;
        padding: 10px 20px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        background-color: #007bff;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #0056b3;
        }
      }
      &__link {
        a {
          color: #007bff;
          font-weight: bold;
        }
      }
      &__error {
        color: red;
        margin-top: 5px;
      }
    }
  }

  // Responsivitas untuk layar kecil
  @media (max-width: 768px) {
    &__form {
      width: 80%;
    }
  }

  @media (max-width: 480px) {
    &__form {
      width: 90%;
    }
  }
}
